*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#0a7c86;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
    text-align:center;
    background:#14b8a6;
    color:white;
    padding:70px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:20px;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:white;
    color:#0a7c86;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

.products{
    padding:40px;
    text-align:center;
}

.container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    margin-top:30px;
}

.card{
    background:white;
    width:220px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card img{
    width:100%;
}

.card h3{
    margin:15px 0;
}

.card button{
    background:#0a7c86;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    cursor:pointer;
    border-radius:5px;
}

footer{
    background:#0a7c86;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}

@media(max-width:768px){
    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }

    .hero h2{
        font-size:28px;
    }
}